.container {
  height: 64px;
  display: flex;
  padding: 12px, 16px, 12px, 16px;
  background-color: #26293f;
  color: white;
  padding-left: 1rem;
  font-size: 16px;
}
.cut {
  display: flex;
  align-items: center;
  margin-left: auto;
  color: white;
  width: 24px;
}
